.activities {
  margin-top: 24px;
  flex-grow: 1;
  flex-basis: 300px;
  color: var(--dark);

  &.container {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
  }

  .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;

    h3 {
      margin-right: auto;
      font-size: 24px;
      font-weight: 600;
    }

    span {
      color: var(--primary);
    }

    .bx {
      cursor: pointer;
    }
  }

  .activities-table {
    width: 100%;

    th {
      padding: 12px;
      font-size: 20px;
      text-align: left;
      border-bottom: 1px solid var(--grey);
    }

    td {
      font-size: 19px;
      padding: 15px;
      color: var(--dark);
    }

    .txt-right {
      text-align: right
    }

    .txt-center {
      text-align: center;
    }

    .bx {
      cursor: pointer;
    }

    tr {
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: var(--grey);
      }
    }

    .completed {
      border-left: 10px solid var(--success);
    }

    .not-completed {
      border-left: 10px solid var(--danger);
    }

    .process {
      border-left: 10px solid var(--primary);
    }
  }
}
