.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .popup {
    position: fixed;
    min-height: 420px;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 30%;
    transform: translate(-50%, -50%);
    background: var(--light);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
    overflow-y: auto;

    &.user {
      min-height: 530px;
    }

    .bx {
      cursor: pointer;
    }

    .header {
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        margin-right: 0;
      }
    }

    form {
      padding: 10px 0 10px 5px;

      &.space {
        flex-direction: column;

        .activity {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;

          .fl_left {
            grid-template-rows: repeat(2, 1fr);

            .isCalories {
              display: flex;
              align-items: center;

              span {
                margin-right: 10px;
              }

              .ck-box {
                width: 20px;
              }
            }
          }

          .fl_right {
            grid-template-rows: repeat(2, 1fr);


          }

          input {
            grid-column: span 1;
            width: 100%;
          }
        }

        .sub-activity {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;

          select,
          input {
            grid-column: span 1;
            width: 100%;
          }
        }
      }

      .form-content {
        .form-warpper {
          margin-top: 16px;
          display: flex;
          align-items: center;

          label {
            margin-right: 15px;
            width: 130px;
          }

          .inp {
            padding: 0 16px;
            border: none;
            background: var(--grey);
            border-radius: 36px 36px;
            outline: none;
            width: calc(100% - 115px);
            height: 36px;
            color: var(--dark);

          }
        }
      }
    }

    .footer-popup {
      margin-top: 16px;
      position: sticky;
      bottom: 0;

      .btn {
        border-radius: 10px;
        background-color: var(--grey);
        color: var(--success);
        cursor: pointer;
        display: inline-block;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: none;
        font-size: 16px;
        font-weight: 800;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
          transform: scale(1.05) rotate(-1deg);
        }
      }
    }
  }
}
