.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 30%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
    overflow-y: auto;

    .bx {
      cursor: pointer;
    }

    .header {
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        margin-right: 0;
      }
    }

    form {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: space-evenly;
      padding: 10px 0 10px 5px;

      &.space {
        justify-content: space-between;
      }

      input {
        flex-grow: 1;
        padding: 0 16px;
        border: none;
        background: var(--grey);
        border-radius: 36px 36px;
        outline: none;
        width: 300px;
        height: 36px;
        color: var(--dark);

      }

      .fl_left {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
      }

      .fl_right {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
      }
    }

    .end {
      float: right;

      &.btn {
        border-radius: 36px 36px;
        box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
        color: var(--success);
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: none;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
          box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
          transform: scale(1.05) rotate(-1deg);
        }
      }
    }
  }
}
